.vertx/*
target/*
*.iml
.idea/*
*.DS_Store
deploy.sh
deploy.config
test.sh
node_modules
.settings
.classpath
.project
hosts.config
vm-test.sh
.vscode
scarlet.db
storage/events/tests@0.0.0.js
storage/functions/tests@0.0.0.js

